.no-match {
    .no-match__content {
      display: flex;
      color: white;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 100px;
      h2 {
          color: white;
        font-size: 38px;
        font-weight: 300;
      }
      .btn {
        cursor: pointer;
        font-size: 22px;
        padding: 15px;
        font-weight: 600;
        border: none;
        outline: none;
        background: none;
        border-radius: 5px;
        text-decoration: none;
      }
    }
  }